body{
	background-image: url('https://img.freepik.com/free-vector/gradient-background-vector-spring-colors_53876-117271.jpg?w=2000');
}
#main_title{
	color: whitesmoke;
	font-family: Cambria;
	font-size: 46px;
	align-self: center;
}
#deliverinstr{
	background-color: grey;
	font-family: Gill Sans;
}
table{font-size: 24px; font-weight: bolder}
h2{color: white; font-size: 36px;}
#languages{color: white; font-size: 23px;}